In [33]:
import numpy as np
import pandas as pd

In [34]:
df = pd.DataFrame(np.arange(200000), columns =["cityId"])
df.head()

   cityId
0       0
1       1
2       2
3       3
4       4

In [35]:
df["prime"] = 0;

In [36]:
def isPrime(x):
    for i in range(2, int(x**0.5)+1):
        if(x%i==0):
            return False
    return True

In [37]:
df.loc[df["cityId"].map(isPrime), "prime"] = 1

In [41]:
# df["prime"]
np.logspace(-2, 1, 4)

array([ 0.01,  0.1 ,  1.  , 10.  ])